//scss

@charset "uft-8";
@import url('common.css');

.headcover{
    background-color: #EDECE9;
    position:fixed;
    left:0; top:0;
    width:100%; height:5.75rem;
    z-index:9999;
    opacity:0;
}
body.active .headcover{
    animation:fadein 0.5s ease-in forwards;
}
@keyframes fadein{
    100%{opacity:1;}
}





.shadow{
    &:hover figure::after{
        background-color:rgba(0,0,0,0.15);
    }
    figure{
        position:relative;
        &::after{
            content:'';
            width:100%; height:100%;
            position:absolute;
            left:0; top:0;
            background-color:rgba(0,0,0,0);
            transition:0.3s;
        }
    }
}

.journal{
    transform:translateY(10%);
    opacity:0;
    transition:all 1s;
    width:100%; margin:0 auto;
    padding:17rem 0;
    animation: loading 1s 1s forwards;

    .gallery-intro-header{
        width:95%; margin:0 auto;
        padding-left:0.625rem; padding-right:0.625rem;
        .home-header{
            width:100%;
            padding-bottom:3rem;
            font-size:2.5rem;
            line-height:3rem;
            .shop-count-count{
                font-size:1rem;
                display: inline-block;
                transform: translateY(-50%) translateX(-100%);
            }
        }
        }
    .journal-wrap{
        width:95%; margin:0 auto;
        display:flex; justify-content: space-between;
        flex-wrap: wrap;
        article{
            padding-left:0.625rem; padding-right:0.625rem;
            border-left:1px solid #dddbd7;
        }
        .map{
            .journal-illo{
                width:100%; height:500px;
                .journal-img-bg{
                    width:100%; height:100%;
                    position:relative;
                    img{
                        width:100%; height:100%;
                        position: absolute;
                        left: -2.5rem;
                        top: 0;
                        object-fit: contain;}
                }
            }
        }
        .journal-big{
            width:50%;
            a{  
                position: relative;
                display: inline-block;
                .journal-img{
                    width:100%; height: 60vh;
                    padding-top:72.5%;
                    position: relative;
                    overflow: hidden;
                    figure{
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width:100%;
                        img{
                            width:100%; height:100%;
                            position:absolute;
                            left:0; top:0;
                            object-fit: cover;
                        }
                    }
                }
                .journal-sum{
                    padding-top:1.5rem;
                    padding-bottom: 3rem;
                }
            }
        }
        .journal-small{
            width:25%;
            a{  
                position: relative;
                display: inline-block;
                .journal-img{
                    padding-top:150%;
                    width:100%; height: 60vh;
                    position: relative;
                    overflow: hidden;
                    figure{
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width:100%;
                        img{
                            width:100%; height:100%;
                            position:absolute;
                            left:0; top:0;
                            object-fit: cover;
                        }
                    }
                }
                .journal-sum{
                    padding-top:1.5rem;
                    padding-bottom: 3rem;
                }
            }
        }
    }
}
@keyframes loading{
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@import url('responsive.css');