@import url("common.css");
@import url("responsive.css");
.headcover {
  background-color: #EDECE9;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 5.75rem;
  z-index: 9999;
  opacity: 0;
}

body.active .headcover {
  -webkit-animation: fadein 0.5s ease-in forwards;
          animation: fadein 0.5s ease-in forwards;
}

@-webkit-keyframes fadein {
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

.shadow:hover figure::after {
  background-color: rgba(0, 0, 0, 0.15);
}

.shadow figure {
  position: relative;
}

.shadow figure::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.journal {
  width: 100%;
  margin: 0 auto;
  padding: 17rem 0;
}

.journal .gallery-intro-header {
  width: 95%;
  margin: 0 auto;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.journal .gallery-intro-header .home-header {
  width: 100%;
  padding-bottom: 3rem;
  font-size: 2.5rem;
  line-height: 3rem;
}

.journal .gallery-intro-header .home-header .shop-count-count {
  font-size: 1rem;
  display: inline-block;
  -webkit-transform: translateY(-50%) translateX(-100%);
          transform: translateY(-50%) translateX(-100%);
}

.journal .journal-wrap {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.journal .journal-wrap article {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  border-left: 1px solid #dddbd7;
}

.journal .journal-wrap .map .journal-illo {
  width: 100%;
  height: 500px;
}

.journal .journal-wrap .map .journal-illo .journal-img-bg {
  width: 100%;
  height: 100%;
  position: relative;
}

.journal .journal-wrap .map .journal-illo .journal-img-bg img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -2.5rem;
  top: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.journal .journal-wrap .journal-big {
  width: 50%;
}

.journal .journal-wrap .journal-big a {
  position: relative;
  display: inline-block;
}

.journal .journal-wrap .journal-big a .journal-img {
  width: 100%;
  height: 60vh;
  padding-top: 72.5%;
  position: relative;
  overflow: hidden;
}

.journal .journal-wrap .journal-big a .journal-img figure {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.journal .journal-wrap .journal-big a .journal-img figure img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.journal .journal-wrap .journal-big a .journal-sum {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

.journal .journal-wrap .journal-small {
  width: 25%;
}

.journal .journal-wrap .journal-small a {
  position: relative;
  display: inline-block;
}

.journal .journal-wrap .journal-small a .journal-img {
  padding-top: 150%;
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
}

.journal .journal-wrap .journal-small a .journal-img figure {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.journal .journal-wrap .journal-small a .journal-img figure img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.journal .journal-wrap .journal-small a .journal-sum {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}
/*# sourceMappingURL=journal.css.map */