//scss

@charset "uft-8";
@import url('common.css');
@import url('responsive.css');

@mixin after{
    &::after{
        content:'';
        clear:both;
        display:block;
    }
}
@mixin text01{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size:0.875rem;
    line-height: 1.5rem;
    color:#313942;
}

.head{
    &::before{opacity:1 !important;
    }
    .logo{
        .logo_dark{opacity:1 !important;}
        .logo_light{opacity:0 !important;} 
    }
}

.burger{
    span{background-color:black !important;}
}


.booking-btn{
    padding:1.25rem 0;
    a{  display:inline-block;
        padding:0 1.25rem;
        border:1px solid #313942;
        height:3.5rem;
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        font-size:0.875rem;
        line-height:3.5rem;
    }
}

.workshop-info{
    padding-left:0.625rem; padding-right:0.625rem;
    h4{ font-family: 'Inter', sans-serif;
        font-weight: bold;
        font-size:0.875rem;
        line-height: 1.5rem;
        color:#313942;
        padding-top:1.5rem;}
    p{ padding-bottom:0.5rem;}
}

.workshops-wrap{
    width:100%; margin:0 auto;
    padding:17rem 0;
}

.workshops{
    width:95%; margin:0 auto;
    padding-bottom:4rem;
    @include after;
    .workshop-header{
        width:50%; float:right;
        padding-bottom:4.5rem;
        padding-left:0.625rem; padding-right:0.625rem;
        h2{
            font-size:2.5rem;
            line-height:2.75rem;
        }
    }
    .workshop-content{
        width:100%;
        display:flex;
        justify-content: space-between;
        figure{
            width:50%; padding-bottom:5rem;
            padding-left:0.625rem; padding-right:0.625rem;
            img{width:100%;}
        }
    }
}

.workshop-candle{
    width:95%; margin:0 auto;
    padding-bottom:10rem;
    @include after;
    article{
        width:50%; float:right;
        padding-left:0.625rem; padding-right:0.625rem;
        .candle-head{
            font-size:1.5rem;
            line-height:2rem;
            padding-bottom:1rem;}
        .candle-info{
            h4{@include text01;
                padding-top:1.5rem;
                padding-bottom:0.5rem;}
            p{
                font-weight: 300;
            }
        }
    }
}

.candle-title-img{
    width:95%; margin:0 auto;
    padding-bottom:5rem;
    @include after;
    figure{
        padding-left:0.625rem; padding-right:0.625rem;
        width:50%; float:right;
        img{width:100%;}
    }
}

.saying{
    width:95%; margin:0 auto;
    padding-bottom:4.5rem;
    p{  
        height:100%;
        max-width: 20.5em;
        font-family: 'Inter', sans-serif;
        font-size:1.5rem;
        line-height:2rem;
        text-align: center;
        margin:0 auto;
    }
    span{
        display:block;
        max-width:40em;
        padding-top:1.5rem;
        padding-bottom:1rem;
        text-align: center;
        margin:0 auto;
    }
}

.candle-gallery{
    width:95%; margin:0 auto;
    display:flex;
    justify-content: center;
    padding-bottom:5rem;
    figure{
        width:35%;
        padding:0 0.625rem;
        img{width:100%;}
    }
}

.workshop-booking{
    width:95%; margin:0 auto;
    padding-bottom:6.5rem;
    @include after;
    .booking-layout{
        width:50%; float:right;
        padding-left:0.625rem;
    }
}